<div class="div-footer">
    <footer class="mt-5">
        <!-- Social Media -->
        <div class="text-center">
            <ul>
                <li class="text-center">
                    <a href="https://play.google.com/store/apps/developer?id=Dangerous+Duck" target="_blank" rel="noopener noreferrer" class="text-dark">
                        <img src="/img/googleplay.jpg" width="140" height="48" alt="Google Play">
                    </a>
                </li>
                <li class="text-center">
                    <a href="https://www.youtube.com/channel/UC6i6mn6zgoX8xccNyO8Ie3Q" target="_blank" rel="noopener noreferrer" class="text-dark">
                        <img src="/img/youtube.png" width="124" height="52" alt="Youtube">
                    </a>
                </li>
                <li class="text-center">
                    <a href="https://twitter.com/DangerousDuckGS" target="_blank" rel="noopener noreferrer" class="text-dark">
                        <img src="/img/twitter.jpg" width="160" height="32" alt="Twitter">
                    </a>
                </li>
				<li class="text-center">
                    <a href="https://www.instagram.com/dangerousduckgames/" target="_blank" rel="noopener noreferrer" class="text-dark">
                        <img src="/img/instagram.png" width="160" height="45" alt="Instagram">
                    </a>
                </li>
            </ul>
        </div>

        <!-- Links -->
        <div class="text-center">
            <ul>
                <li class="text-center">
                    <a href="/" class="text-dark">Home</a>
                </li>
                <li class="text-center">
                    <a href="/mortalghost/" class="text-dark">Mortal Ghost</a>
                </li>
                <li class="text-center">
                    <a href="/contact/" class="text-dark">Contact</a>
                </li>
                <!--<li class="text-center">
                    <a href="/blog/" class="text-dark">Blog</a>
                </li>-->
            </ul>
        </div>
    
        <!-- Copyright -->
        <div class="text-center p-2 copyright">
            © 2020 - 2021 Dangerous Duck Games
        </div>
    </footer>
</div>